.botao {
    background-color: #6278f7;
    border-radius: 10px;
    font-weight: 1000;
    font-size: 18px;
    padding: 12px 24px; /* Reduzindo o padding */
    border: none;
    cursor: pointer;
    color: #fff; /* Cor do texto */
    margin: 32px auto;
    display: block;
    width: 50%;
    height: 10%;
}

.botao:hover {
    color: #fff;
    background-color: #289e6f;
}
