.lista-suspensa label {
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
}

.lista-suspensa select {
    background-color: #FFF;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.06);
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 24px;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; /* Para compatibilidade com navegadores modernos */
    box-sizing: border-box;

    /* Adicionando estilos extras para se parecer com o Select do Material-UI */
    padding-right: 32px; /* Espaçamento à direita para a seta */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E"); /* Adiciona uma seta ao fundo */
    background-repeat: no-repeat; /* Evita a repetição da imagem de fundo */
    background-position: right 8px center; /* Posiciona a seta à direita */
    cursor: pointer; /* Altera o cursor ao pairar sobre o seletor */
}

.lista-suspensa select:hover {
    background-color: #f5f5f5; /* Altera a cor de fundo ao passar o mouse */
}

.lista-suspensa select:focus {
    border-color: #1976d2; /* Altera a cor da borda ao focar */
}
